<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Baglanti"
			 connectionString="Server=.; Database=OtobusBilet; User=sa; Password=Password1"/>
		<add name="Baglanti2"
connectionString="Server=127.0.0.1; Database=OtobusBilet; User=sa; Password=Password1"/>
	</connectionStrings>
</configuration>